body{
    margin: 0px auto;
    width: 980px;
}
.main {
    width: 40%;
    height: 500px;
    float: left;
    margin-top: 20px;
  

}
.main h2 {
   color:indianred;
  border-radius: 5px;
}
.main a {
    color:white;
    background: red;
    font-size:25px;
    font-family: arial-black;
    text-decoration: none;
    font-weight: 70px;
    border-radius: 5px solid black;
}
.imm{
    height: 500px;
    width: 59%;
    float: right;
 
}
.imm img{
    height: 100%;
    width: 100%;
    margin-top: 0px;
    padding-bottom: 10px;
}